*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(52, 51, 51);
    color: white;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 1%;
    
}
.top-nav input{
    width: 600px;
    height: 40px;
    background-color: rgba(69, 69, 69, 0.877) ;
    border-style: none;
}
.top-nav button{
    width: 200px;
    height: 40px;
    background-color: rgb(108, 227, 187);
    color: white;
    font-weight: bold;
   

}
.border{
     border-bottom: 1px gainsboro solid;
}
.main-container{
    display:flex ;
}
.left-nav{
    background-color:rgb(52, 51, 51);
    width: 450px;
    height: auto;
}
.border-vertical{
    border-left: 1px white solid;
}
.grid-card{
    background-color: rgb(52, 51, 51);
    width: 100%;
    height: auto;
    
}
.left-nav ul{
    list-style: none;
    
}
.nav-img{
    display: flex;
    align-items: start;
    gap: 10%;
    padding : 30px;
    border: 1px white ;
    font-size: 20px;
   
    
}
.nav-img:hover{
    background-color: rgb(108, 227, 187);
}
.grid-card {
  display: flex;
  justify-content: center;
}
.game-board {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    padding: 10%;
    
}
.box {
  background:white;
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #070707;
  border-radius: 10px;
  box-shadow: rgba(244, 241, 241, 0.24) 0px 3px 8px;
  
}
.Student-img{
    background-color: #070707;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.form{
    display:flex;
    
    align-items: center;
    justify-content: center;
    padding: 10%;
    background-color: white;

}
.form-container{
    color: #070707;
    display:block;  
    width: 800px;
    height: 700px;
    background-color: aliceblue;
    box-shadow: white 1px 1px 1px 1px ;
}